.nav {
    background: #64403E;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px 55px;
}

.nav img {
    height: 50px;
}

.nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}

.nav li {
    font-size: 1.5rem;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: white;
}