.shop--main {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 350px;
    padding-top: 25px;
    background: #404040;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar > ul,
.mobile-filter > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 55px; 
    color: white;
    font-size: 1.5rem;
    position: sticky;
    top: 25px;
}

.sidebar li,
.mobile-filter li {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.item-section {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.item-title {
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 25px;
}

.items {
    display: flex;  
    flex-flow: row wrap;
    gap: 25px;
    margin: 25px;
    justify-content: center;
}

.App {
    max-width: 2000px;
}

.filter-container {
    position: relative;
    display: none;
}

@media (max-width: 915px) {
    .shop--main {
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }

    .filter-container {
        display: block;
    }

    .filter-container button {
        padding: 8px;
        background: #B2BCAA;
        width: 100%;
        border: none;
        font-size: 1rem;
    }

    .filter-container button img {
        height: 22px;
    }

    .filter-container button:hover {
        cursor: pointer;
    }

    .filter-dropdown {
        position: absolute;
        left: 0;
        width: 100%;
        perspective: 1000px;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .filter-dropdown li {
        padding: 8px 0;
        background: #B2BCAA;
        width: 100%;
        list-style: none;
        text-align: center;
    }

    .filter-dropdown li:hover {
        background: #7a8074;
        color: white;
        cursor: pointer;
    }

    .animate-dropdown {
        animation: scaleDown 300ms ease-in-out forwards;
        transform-origin: top center;
    }

    @keyframes scaleDown {
        0% {
            transform: scaleY(0);
        }
        80% {
            transform: scaleY(1.1);
        }
        100% {
            transform: scaleY(1);
        }
    }

}